<article class="blog-post border-bottom">
    <div class="h2 blog-post-title"><%= link_to blog.title.upcase, blog %></div>
    <p class="blog-post-meta"><%= t('blog.published', days: distance_of_time_in_words(blog.created_at, Time.now)) %></p>

    <%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>

    <p>
      <%= blog.body %>
    </p>
</article>