<div class="blog-header pb-2">
  <div class="container">
    <h1 class="blog-title"><%= t('blogs.title') %></h1>
    <p class="lead blog-description"><%= t('blogs.description') %></p>
    <span>
      <%= link_to t('blogs.new'), new_blog_path, class: "btn btn-primary btn-sm" if logged_in?(:site_admin) %>
    </span>
    <!--
    <span>
      <%= link_to 'Topics', topics_path, class: "badge bg-primary text-light" %>
    </span>
    -->
  </div>
</div>