  <header class="masthead mb-auto">
    <div class="inner">
      <%= link_to "Juliano Marques", root_path, class:"h3 masthead-brand" %>
      <nav class="nav nav-masthead justify-content-center">
        <%= nav_helper 'nav-link', 'span' %>
        <%= login_helper 'nav-link' %>
      </nav>
    </div>
  </header>