<section class="jumbotron text-center">
  <div class="container">
    <h1><%= t('portfolios.title') %></h1>
    <p class="lead text-muted"><%= t('portfolios.description') %></p>
    <p>
      <%= link_to t('portfolios.more_about'), about_path, class: 'btn btn-primary my-2' %>
      <%= link_to t('portfolios.my_blog'), blogs_path, class: 'btn btn-primary my-2' %>
    </p>
  </div>
</section>