<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width:"100%", alt:"bonobo" %>
      </div>

      <div class="col-md-8">
        <p>I'll fill this later</p>

        <p>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="collapse"
            data-bs-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Job history
          </button>

          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="collapse"
            data-bs-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
            Education
          </button>
        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card-body">
              Job 1
            </div>
            <div class="card-body">
              Job 2
            </div>
            <div class="card-body">
              Job 3
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card-body">
              Job 1
            </div>
            <div class="card-body">
              Job 2
            </div>
            <div class="card-body">
              Job 3
            </div>
          </div>
        </p>
      </div>
    </div>

  </div>
</div>
