<div class="app-card-container">
  <div class="card">
    <div class="h3 text-center">
      About Me
    <hr>
    </div>

    <div class="row">
      <div class="col-md-4 mx-auto">
        <%= image_tag "profile.jpg", width:"90%", class: 'img-thumbnail d-block mx-auto' %>
        <div class="skills mx-2 mt-3 mb-2">
          <% @skills.each do |skill| %>
            <%= skill.title %>
            <div class="progress bg-secondary" style="height: 8px;">
              <div
                class="progress-bar bg-warning bg-gradient"
                role="progressbar"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemax="100"
                style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>I'll fill this later</p>

        <p>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="collapse"
            data-bs-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Job history
          </button>

          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="collapse"
            data-bs-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
            Education
          </button>
        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card-body border">
              Job 1
            </div>
            <div class="card-body border">
              Job 2
            </div>
            <div class="card-body border">
              Job 3
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card-body border">
              Job 1
            </div>
            <div class="card-body border">
              Job 2
            </div>
            <div class="card-body border">
              Job 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
