<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width:"100%", alt:"bonobo" %>
  </div>

  <div class="col-md-8">
    <p>I'll fill this later</p>
  </div>
</div>
