<div class="app-card-container">
  <div class="card">
    <div class="h3 text-center">
      Contact
      <hr>
    </div>

    <div class="row mx-3">
      <div class="col-md-6">
        <h4>Email</h4>
        <%= link_to "mailto:julianoaugusto22@gmail.com", class: 'text-primary' do %>
          julianoaugusto22@gmail.com
        <% end %>

        <h4 class="mt-3">Linkedin</h4>
        <%= link_to "https://www.linkedin.com/in/julianoagm", class: 'text-primary' do %>
          linkedin.com/in/julianoagm
        <% end %>

        <h4 class="mt-3">Github</h4>
        <%= link_to "https://www.github.com/julianogm", class: 'text-primary' do %>
          github.com/julianogm
        <% end %>

        <h4 class="mt-3">Telegram</h4>
        <%= link_to "https://t.me/JulianoGM", class: 'text-primary' do %>
          @JulianoGM
        <% end %>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d37148.648081241976!2d-41.943835626406056!3d-22.518708375781394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1648770572019!5m2!1spt-BR!2sbr" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>