<main role="main" class="inner cover">
  <h1 class="cover-heading">This is the home page</h1>
  <p class="lead">I'll fill this with useful information</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
