<main role="main" class="inner cover">
  <h1 class="py-2">Dev News</h1>

  <div class="row">
    <% @tweets.each do |tweet| %>
      <div class="col-md-6">
        <div class="tech-news card py-3 px-1">
          <%= twitter_parser(tweet) %>
        </div>
      </div>
    <% end %>
  </div>
</main>